<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission to query installed packages -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" 
        tools:ignore="QueryAllPackagesPermission" />

    <!-- Permission required to check which app is in the foreground -->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <!-- Permission required to run a service in the foreground -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Permission required to post notifications on Android 13+ -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppRedirector"
        tools:targetApi="31">
        
        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppRedirector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Invisible activity to proxy the redirection -->
        <activity
            android:name=".RedirectProxyActivity"
            android:theme="@style/Theme.Transparent"
            android:exported="false" />
        
        <!-- Background service for monitoring app launches -->
        <service
            android:name=".RedirectorService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:foregroundServiceType="dataSync" />

    </application>

</manifest> 